body{
    font-family: 'Josefin Sans';
    margin: 0;
}

p, h1, h3, h5{
    padding: 0;
    margin: 0;
}

.burgue-button{
    display: none;
}

.above{
    display: flex;
    justify-content: space-between;
}
.info_above{
    gap: 25px;
    display: flex;
}

.info_mail, .info_phone{
    display: flex;
}

.icons{
    display: flex;
}

nav{
    border-radius: 10px;
}

a{
    text-decoration: none;
}


li{
    text-align: center;
}

li button{
    border-style: none;
    background: #5956E9;
    border-radius: 5px;
    color: white;
}


.first_background{
    background-image: url(img/background-image.png);
}


@media(max-device-width: 375px){
    .above .info_above{
        display: none;
    }
    
    .above .icons{
        display: none;
    }
    
    nav{
        display: flex;
        margin:25px 0;

    }
    
    a{
        text-decoration: none;
    }
    
    .content-left{
        background-color: white;
        align-items: center;
        padding-top: 5px;
        padding-left:30px;
        padding-right: 100px;
        border-radius: 10px 0px 0px 10px ;
        margin: 0;
        display: flex;
        align-items: right;
        list-style: none;

    }

    .content-right{
        background-color: white;
        align-items: center;
        padding-right: 30px;
        padding-left: 100px;
        border-radius: 0px 10px 10px 0px ;
        margin: 0;
        display: flex;
        align-items: right;
        list-style: none;
    }
    
    li a{
        display: none;
    }
    
    li button{
        justify-content: right;
        padding: 18px;
        font-size: 20px;
        border-style: none;
        background: #5956E9;
        border-radius: 5px;
        color: white;
    }
    
    .logo{
        border-radius: 10px;
        background-color: white;
        padding: 50px;
        position: relative;
        z-index: 1;
        box-shadow: 0 0 75px #00000020;

    }


    .bar{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px;
    }
    
    .download-container{
        justify-content: flex-start;
        display: flex;
        gap: 10px;
        padding: 0 50px 50px 50px;
    }

    .download-container img{
        width: 300px;
    }


    .content-container{
        background-color: white;
        align-items: center;
        margin: 60px;

    }

    .content-container h1{
        font-size: 70px;
        line-height: 110px;
        padding: 50px;
        font-weight: 500;
        text-align: left;
        color: #5956E9;

    }

    .content-container P{
        font-size: 16px;
        font-weight: 400;
        line-height: 50px;
        text-align: left;
        padding: 0 50px;
        color: #6C6C72;

    }

    .content-container h3{
        font-size: 50px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        padding: 50px;
    }

    /*.shadow{
        border: 40px solid #7572FF;
        z-index: 1;
        position: relative;
        top: 20px; left: 20px;
    }*/


    .first_background{
        background-image: url(img/background-image.png);
    }



    .app-container{
        padding: 80px;
    }


    .app-container h1{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .app-container p{
        font-size: 16px;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        color: #6C6C72;
    }
}